<mat-card class="calendar-table" *ngIf="isAdmin">
    <mat-card-title class="calendar-table__header">
        <h5 class="calendar-table__title">Agenda do dia {{time | date:'dd/MM/yyyy EE' : '' : 'pt-BR'}}</h5>
        
        <div class="row">
            <button class="tooltip"  mat-icon-button (click)="mostrarTodos()">
                <span class="tooltiptext">Filtra os equipamentos</span>
                <mat-icon *ngIf="!mostrarTodosAparelhos">list_alt</mat-icon>
                <mat-icon *ngIf="mostrarTodosAparelhos">filter_list</mat-icon>
            </button>
            <button mat-icon-button (click)="lastDay()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button mat-icon-button (click)="today()">
                HOJE
            </button>
            <button mat-icon-button (click)="followingDay()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
            <div class="calendar-table-wrapper__search">
                <input matInput class="calendar-table-wrapper__search-input" [matDatepicker]="dp"  placeholder="Data locação" #inputSearch (dateInput)="applyFilter($event)" style="visibility: hidden;">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </div>
            <button class="tooltip" mat-icon-button (click)="openDialog(null)">
                <span class="tooltiptext">Adiciona uma locação</span>
                <mat-icon>control_point</mat-icon>
            </button>
            <button mat-icon-button class="tooltip" (click)="openDialogStickyNotes()">
                <span class="tooltiptext">Adiciona uma anotação</span>
                <mat-icon>comment</mat-icon>
            </button>
        </div>
    </mat-card-title>
  
    <mat-card-content >
        <table class="calendar-table__table" >
            <thead>
                <th style="text-align: left;" class="padding-left-5"> EQUIPAMENTO </th>
                <th style="text-align: left;" class="padding-left-5"> PONTEIRAS </th>
                <th style="text-align: left;" class="padding-left-5"> LOCATÁRIO </th>
                <th style="text-align: left;" class="padding-left-5"> PGTO </th>
                <th style="text-align: left;" class="padding-left-5"> HORÁRIO </th>
                <th style="text-align: left;" class="padding-left-5"> TÉCNICA </th>
                <th style="text-align: left;" class="padding-left-5"> STATUS </th>
                <th style="text-align: left;" class="padding-left-5"> USUÁRIO </th>
                <th style="text-align: left;" class="padding-left-5"> ENTREGA </th>
                <th style="text-align: left;" class="padding-left-5"> RECOLHE </th>
                <th style="text-align: left;" class="padding-left-5"> </th>
                <th style="text-align: left;" class="padding-left-5"> </th>
            </thead>
            <tbody>
                <tr *ngFor="let element of aparelhosFiltrados">
                    <td style="width: 15%;">
                        <div class="padding-left-5">
                            {{element.equipament.name}}
                        </div>
                    </td>
                    <td class="cell-hyphens" style="width: 15%">
                        <div *ngFor="let item of element.calendars">
                            <div class="row padding-left-5" (click)="openDialog(item)">
                                {{showSpecifications(item)}}
                            </div>
                        </div>
                    </td>
                    <td class="cell-hyphens" style="width: 30%">
                        <div *ngFor="let item of element.calendars">
                            <div class="row padding-left-5" (click)="openDialog(item)">
                                
                                {{showClientCity(item)}}
                            </div>
                            <div class="row padding-left-5" (click)="openDialog(item)">
                                
                                {{showAddress(item)}}
                            </div>
                            
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars">
                            <div class="row padding-left-5">
                                <mat-icon *ngIf="item.paymentStatus == 'pending'" class="red">block</mat-icon>
                                <mat-icon *ngIf="item.paymentStatus == 'paid'" class="limegreen">check</mat-icon>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="openDialog(item)">
                            <div class="row padding-left-5">
                                {{showTime(item)}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="openDialogTechnique(item)">
                            <div class="row padding-left-5" >
                                {{item.technique?.name}}
                            </div>
                        </div>
                    </td>
                    
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="openDialogStatus(item,false)">
                            <div class="calendar-table__content-badge" [ngClass]="statusToString(item.status)">
                                {{statusToString(item.status)}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="openDialog(item)">
                            <div class="row padding-left-5">
                                {{item.user.nickName}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="openDialogDriver(item,false)">
                            <div class="row padding-left-5">
                                {{item.driver?.name}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="openDialogDriver(item,true)">
                            <div class="row padding-left-5">
                                {{item.driverCollects?.name}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="openDialogStatus(item,true)">
                            <div class="row padding-left-5">
                                <mat-icon>{{showIconTravelOn(item.travelOn)}}</mat-icon>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" (click)="updateContractMade(item)">
                            <div class="row padding-left-5">
                                <mat-icon *ngIf="!item.contractMade" class="red">block</mat-icon>
                                <mat-icon *ngIf="item.contractMade" class="limegreen">check</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isAdmin">
    <mat-card-title>
        <h5>Anotações do dia</h5>
    </mat-card-title>
    <mat-card-content style="min-height: 100px;">
        <app-sticky-notes-table [today]="time"></app-sticky-notes-table>
    </mat-card-content>
  </mat-card>


  <mat-card class="calendar-table" *ngIf="!isAdmin">
    <mat-card-title class="calendar-table__header">
        <h5 class="calendar-table__title">Agenda do dia {{time | date:'dd/MM/yyyy EE' : '' : 'pt-BR'}}</h5>
        
        <div class="row">
            <button mat-icon-button (click)="lastDay()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button mat-icon-button (click)="today()">
                HOJE
            </button>
            <button mat-icon-button (click)="followingDay()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
            <div class="calendar-table-wrapper__search">
                <input matInput class="calendar-table-wrapper__search-input" [matDatepicker]="dp"  placeholder="Data locação" #inputSearch (dateInput)="applyFilter($event)" style="visibility: hidden;">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp (opened)="resetPicker()"></mat-datepicker>
            </div>
        </div>
    </mat-card-title>
  
    <mat-card-content >
        <table class="calendar-table__table" >
            <thead>
                <th style="text-align: left;" class="padding-left-5"> EQUIPAMENTO </th>
                <th style="text-align: left;" class="padding-left-5"> LOCATÁRIO </th>
                <th style="text-align: left;" class="padding-left-5"> HORÁRIO </th>
                <th style="text-align: left;" class="padding-left-5"> STATUS </th>
                <th style="text-align: left;" class="padding-left-5"> MOTORISTA </th>
            </thead>
            <tbody>
                <tr *ngFor="let element of dataSource">
                    <td>
                        <div class="padding-left-5">
                            {{element.equipament.name}}
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars">
                            <div class="row padding-left-5" (click)="openDialog(item)">
                                
                                {{showClientCity(item)}}
                            </div>
                            <div class="row padding-left-5" (click)="openDialog(item)">
                                
                                {{showAddress(item)}}
                            </div>
                            <div class="row padding-left-5" (click)="openDialog(item)">
                                
                                {{showContact(item)}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let item of element.calendars" >
                            <div class="row padding-left-5">
                                {{showTime(item)}}
                            </div>
                        </div>
                    </td>
                    
                    
                    <td>
                        <div *ngFor="let item of element.calendars" >
                            <div class="calendar-table__content-badge" [ngClass]="statusToString(item.status)">
                                {{statusToString(item.status)}}
                            </div>
                        </div>
                    </td>
                    
                    <td>
                        <div *ngFor="let item of element.calendars">
                            <div class="row padding-left-5">
                                {{item.driver?.name}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!isAdmin">
    <mat-card-title>
        <h5>Anotações do dia</h5>
    </mat-card-title>
    <mat-card-content style="min-height: 100px;">
        <app-sticky-notes-table [today]="time"></app-sticky-notes-table>
    </mat-card-content>
  </mat-card>
  